/* ---------------------------------------------- */

/* Styles for the scroll list area */

/* ---------------------------------------------- */

.list-container {
  margin: 1em 0 0;
  display: flex;
  max-height: 55vh;
  border: 0.6px solid #aaa;
  scrollbar-width: none;
  overflow: auto;
}

.listbox {
  padding: 0 0.5em;
}

[role="option"] {
  display: block;
  line-height: 1em;
  padding: 0.2em;
  font-size: 13px;
}

/* ---------------------------------------------- */

/* Styles for the compare area */

/* ---------------------------------------------- */

.school-compare-scroll-box {
  height: 65vh;
  overflow-y: auto;
}
