h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#school-map { height: 100%; }

.content-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 100%;
}

.map-container {
  margin: 3%;
  width: 60%;
}

.school-contents {
  margin: 3%;
  width: 30%;
  position: grid;
}

.list-container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.school-list-container {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}
