html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: left;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#school-map { height: 100%; }

.content-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 100%;
}

.map-container {
  margin: 3%;
  width: 60%;
}

.school-contents {
  margin: 3%;
  width: 40%;
  position: grid;
}

.list-container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 40%;
  overflow-y: scroll;
}

.school-list-container {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}
