html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  padding: 0.2rem;
  padding-left: 1rem;
}

#school-map {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;height: 100%;
}

.map-container {
  width: 60%;
}

.list-container {
  width: 40%;
  overflow-y: scroll;
  padding: 1rem;padding-top: 0;
}

#school-list li {
  margin: 0.25rem 0;
  padding: 0.5rem;
}

.school-name {
  display: block;
  font-weight: hold;
}