/* css-tricks.com */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100vh;
}

#school-map {
  height: 80vh;
  width: 66vw;
}

.list-container {
  flex-grow: 1;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  height: 100%;
}

.school-list {
  overflow-y: scroll;
}
