#school-map{
    height:500px;
    width: 500px;
}

#console2 {
    width: 280px;
    margin: 10px;
    background-color: white;
    top: 215px;
    min-height: 100px;
    height: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

.console3{
    width: 400px;
    margin: 10px;
    background-color: white;
    top: 215px;
    min-height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}