body {
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 0;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-wrap: row-reverse;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: 33%;
  border: 1px solid rgba(0, 0, 0, 25%);
}

.map-container {
  width: 67%
}

#school-map {
  height: 100%
}

#console2 {
  max-height: 330px;
  margin: 10px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 25%);
}

.console3 {
  margin: 10px;
  background-color: white;
}

h1 {
  font-size: 2.25em;
  margin-left: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.444em;
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.444em;
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1em;
  margin-left: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.444em;
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
}


ul { 
  list-style: none;
  padding: 0;
  list-style-type: none;
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.school-list-item {
  margin-top: 10px;
  font-size: 1em;
}

.school-list-item .grade {
  font-size: 0.8em;
}

.school-list-detail {
  margin: 0;
}

.selected {
  background-color: green;
}