
#school-map {
    width: 60%; 
    height: 800px;
 }

#check-box {
    display: left;
}

#school-list {
    top: 0px;
    right: 0px;
    height: 100px;
    overflow-y: scroll;
    float: right;
}

#school-name-input { 
    float: right;
}


