body {
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    padding: 1rem;
}

#school-map {
    height: 100vh;
}

.content-container {
    display: flex;
    overflow: hidden;
}

.map-container {
    width: 60%;
    padding: 1rem;
}

.list-container {
    width: 40%;
    overflow-y: scroll;
}