body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  background-size: 75px 75px;
}

h1 {
  margin-top: 75px;
  font-size: 50px;
  font-weight: 600;
  color: #96c7cc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  color: #1A9399;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  color: #96c7cc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#school-map {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 90%;
  width: 100%;
}

.map-container {
  width: 50%;
  margin-top: 75px;
}

.list-container {
  margin-top: 75px;
  margin-left: 0px;
  width: 60%;
  overflow-y: scroll;
  padding: 1rem;
  padding-top: 0;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}